<%= @question.prompt %>

<fieldset>
  <%= case @responses do %>
    <% [] -> %>
      <input type="hidden" name="responses[]" value="ok" autofocus />
    <% [_response] -> %>
      <label>
        Correct Answer:
      </label>
      <ol>
        <%= for answer <- @question.correct_answer do %>
          <li>
            <%= answer %>
          </li>
        <% end %>
      </ol>
  <% end %>
</fieldset>
