<%= form_for @changeset, @action, [method: :post, csrf_token: true], fn(f) -> %>
  <fieldset>
    <legend>Name</legend>
    <%= text_input(f, :name, autofocus: true, class: "wide") %>
  </fieldset>

  <%= submit "Submit" %>
<% end %>
