<%= form_for @changeset, @action, [method: :post, csrf_token: true], fn(f) -> %>
  <fieldset>
    <legend>Add Module</legend>
    <label>Name</label>
    <%= text_input(f, :name, autofocus: true, class: "wide") %>

    <%= submit "Submit" %>
  </fieldset>
<% end %>
