<%= @question.prompt %>

<fieldset class="<%= fieldset_class("true", @responses, @question.correct_answer) %>">
  <input type="radio" name="responses[]" id="frue" value="true" required>
  <label for="True">True</label>
</fieldset>
<fieldset class="<%= fieldset_class("false", @responses, @question.correct_answer) %>">
  <input type="radio" name="responses[]" id="false" value="false">
  <label for="False">False</label>
</fieldset>

