<h1> Quizzing <%= @topic.name %></h1>

<%= case @question.question_type do %>
  <% :true_false -> %>
    <%= render "_true_false.html", question: @question, responses: @responses %>
  <% {:multiple_choice, options} -> %>
    <%= render "_multiple_choice.html", question: @question, responses: @responses |> IO.inspect, options: options %>
<% end %>
